{:deps {this/project {:local/root "."}}
 :min-bb-version "0.9.160"
 :paths ["src"]
 :tasks {:requires ([babashka.fs :as fs])
         deps:dev
         {:doc "Install dependencies of the dev alias"
          :task (clojure "-A:dev")}
         maze:ascii
         {:doc "Render a maze in ASCII art (in the terminal)"
          :task (clojure "-M:dev --main mazes.core")}}}
